<!DOCTYPE html>
<html>
<head>
    <title>Add Comment</title>
</head>
<body>
    <h1>Add Comment</h1>
    <form action="/submit_comment" method="POST">
        <label for="author">author:</label>
        <input type="text" id="author" name="author" required><br><br>
        
        <label for="comment">comment:</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
